@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
  width: 100%;
}

.weatherPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.currentWeather {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.currentWeather > .title {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.currentWeather .temperature {
  font-size: 4rem;
}

.currentWeather .location {
  font-size: 2rem;
}

.currentWeather .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.currentWeather > .details {
  display: flex;
  justify-content: center;
  gap:15px;
}

.currentWeather .detail-item {
  height: 120px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid gray ;
  border-radius: 10%;
}

.forecastWeather {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.forecastWeather > .list-item {
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray ;
  border-radius: 10%;
}

.forecastWeather .title {
  font-size: 1.2rem;
}

.forecastWeather .temperature {
  font-size: 0.8rem;
}